header {
  border: 1px solid grey;
  margin: 10px 3px 0px 0px;
  padding: 10px;
}
body {
  margin: 10px 50px;
}
section {
  border: 1px solid grey;
  margin: 10px 3px 0px 0px;
  padding: 10px;
  color: grey;
}
form {
  border: 1px solid grey;
  margin: 5px 3px 0px 0px;
  padding: 10px;
}
textarea {
  margin-left: 100px;
}
